<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmvScope</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="form-group">
              <label for="streamValue">Stream select</label>
              <select class="form-control" id="streamValue" onchange="sendChange(this)">
                <option value=0>None</option>
              </select>
            </div>

            <p id="streamInfo">{ stream info }</p>

	    <div class="form-row" id="channels">
	      <div class="col-lg" id="channel0">
		<div class="form-check form-switch">
	          <input type="checkbox" class="form-check-input" id="channelCheckbox0" autocomplete="off" style="height: 30px; display: flex; align-items: center;" onchange="sendChange(this)">
	          <label class="form-check-label" for="channelCheckbox0" style="margin: 7px 0 0;"> Channel 0</label>
	        </div>
	      </div>
	    </div>

            <div class="card">
                <div class="card-body">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>

	    <div class="form-row">
	      <div class="col-lg-0 col-form-label">
                <label for="rangeValue" style="text-align: right; display: block;">Range</label>
	      </div>
	      <div class="form-group col-lg-1">
                <input class="form-control" type="text" placeholder="Range input" id="rangeValue" value=4000 onchange="sendChange(this)">
	      </div>
	      <div class="col-lg-0 col-form-label">
                <label for="offsetValue" style="text-align: right; display: block;">Offset</label>
	      </div>
	      <div class="form-group col-lg-1">
                <input class="form-control" type="text" placeholder="Offset input" id="offsetValue" value=0 onchange="sendChange(this)">
	      </div>
	    </div>
            
	    <div class="form-row">
	      <div class="col-lg"">
		<div class="form-check form-switch">
	          <input type="checkbox" class="form-check-input" id="triggerCheck" autocomplete="off" style="height: 30px; display: flex; align-items: center;" onchange="sendChange(this)">
	          <label class="form-check-label" for="triggerCheck" style="margin: 7px 0 0;">Trigger</label>
	        </div>
	      </div>
	      <div class="col-lg col-form-label">
	          <label for="channelSelect" style="text-align: right; display: block;">Channel select</label>
	      </div>
	      <div class="form-group col-lg">
	          <select class="form-control" id="channelSelect"  onchange="sendChange(this)">
	            <option value=0>Channel 0</option>
	          </select>
	      </div>
	      <div class="col-lg col-form-label">
	          <label for="compareSelect" style="text-align: right; display: block;"><b>Compare:</b> Value</label>
	      </div>
	      <div class="form-group col-lg">
	          <select class="form-control" id="compareSelect"  onchange="sendChange(this)">
	            <option value=0>less then</option>
	            <option value=1>greater then</option>
	            <option value=2>equals</option>
	          </select>
	      </div>
	      <div class="form-group col-lg">
	        <input class="form-control" type="text" placeholder="Treshold input" id="tresholdInput" value=0 onchange="sendChange(this)">
	      </div>
	    </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/chart.min.js"></script>
<script>
    function sendChange(ref)
    {
       var value
       if(ref.type == "checkbox") value = ref.checked;
       else value = ref.value;

       //console.log(JSON.stringify({ "id": ref.id, "value": value }));

       $.ajax({
            type: "POST",
            data: JSON.stringify({ "id": ref.id, "value": value }),
            url: 'control-setting',
            dataType: 'json',
            contentType: "application/json",
            success: function(res){
               //console.log(res);
            },
            error: function(res){
               console.log(res);
            }
        });
    }


    $(document).ready(function () {
        const config1 = { type: 'line', }; // settings are populated from server
	//element on page
        const context1 = document.getElementById('canvas1').getContext('2d');

	//chart.js object
        const lineChart1 = new Chart(context1, config1);

	//Receive Server-Sent Event Notifications
        const chart_source = new EventSource("/chart-data");

        chart_source.onmessage = function (event) {
            const data = JSON.parse(event.data);
	    if(data['config_data'] != null) { // update data config
                config1.data = {};
		config1.data.datasets = data['config_data']['datasets']; //.splice(0,4);
	    }
	    if(data['config_options'] != null) { // update options config
                config1.options = data['config_options'];
	    }
	    if(data['stream_info'] != null) { // update stream info
                const streamInfo = document.getElementById('streamInfo');
                streamInfo.innerHTML = JSON.stringify( data['stream_info'] );


                var datasets = data['stream_info']['size'] / 8
                var channelSelect = document.getElementById("channelSelect");

                if(datasets != channelSelect.options.length ) { // only add/remove the items if the current amount mismatches the info
                  channelSelect.options.length = 1;

		  var channelEnableContainer = document.getElementById("channels");
		  while (channelEnableContainer.children[1]) { // remove all but keep first child
		    channelEnableContainer.removeChild(channelEnableContainer.lastChild);
		  }
                  var channelEnable = document.getElementById("channel0");

                  for(var i = 1; i < datasets; i++) {
                    channelSelect.add(new Option("Channel " + i.toString(), i));

		    let clone = channelEnable.cloneNode(true);
		    clone.id = "channel" + i.toString();
                    clone.children[0].children[0].id = "channelCheckbox" + i.toString();
                    clone.children[0].children[1].htmlFor = "channelCheckbox" + i.toString();
                    clone.children[0].children[1].innerHTML = "Channel " + i.toString();
		    channelEnableContainer.appendChild(clone);
                  }
                }
	    }
	    //reset all labels
            config1.data.labels = [];
            //reset all data
            data['dataSets'][0]['index'].forEach(function (value, i) {
                config1.data.datasets[i].data = []; 
            })

            for (var dataset of data['dataSets']) {
                config1.data.labels.push(dataset.x);
		//write all datapoints for this x value
		dataset['index'].forEach(function (value, i) {
                    config1.data.datasets[i].data.push({x: dataset.x, y: value.y }); 
		})
            }
            lineChart1.update();
        }
        
        const control_source = new EventSource("/control-data");

        control_source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            for(const dataItem in data) {
              if(dataItem == "streamSelect_items") { // populate stream list with items (means a new stream was discovered)
		    const streamSelect = document.getElementById('streamValue');
		    streamSelect.options.length = 0;
		    var i = 0;
		    for (var item of data[dataItem]) {
		      streamSelect.add(new Option(item.slice(2,-1),i));
		      i++;
		    }
              }
              else { // just update a regular control
		    for (const prop in data[dataItem] ) {
		      var obj = document.getElementById( prop );
		      if (typeof data[dataItem][prop] === "boolean") {
		        obj.checked = data[dataItem][prop];
		      }
		      else {
		        obj.value = data[dataItem][prop];
		      }

                      //handle client side actions
                      if( prop.startsWith("channelCheckbox") && config1.data.datasets) { // is a channel is  set/unset
                          var index = prop.replace("channelCheckbox","");
                          if(config1.data.datasets[index]) {
                              config1.data.datasets[index]['hidden'] = !data[dataItem][prop]; //hide the dataset
                          }
                      }
		    }
              }
              
            }
        }
    });
</script>
</body>
</html>
