<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmvScope</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = { type: 'line', }; // settings are populated from server
	//element on page
        const context = document.getElementById('canvas').getContext('2d');

	//chart.js object
        const lineChart = new Chart(context, config);

	//Receive Server-Sent Event Notifications
        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
	    if(data['config_data'] != null) { // update data config
		config.data = data['config_data']
	    }
	    if(data['config_options'] != null) { // update options config
                config.options = data['config_options']
	    }
	    //reset all labels
            config.data.labels = []
            //reset all data
            data['dataSets'][0]['index'].forEach(function (value, i) {
	        config.data.datasets[i].data = []
            })

            for (var dataset of data['dataSets']) 
            {
                config.data.labels.push(dataset.x);
		//write all datapoints for this x value
		dataset['index'].forEach(function (value, i) {
		    config.data.datasets[i].data.push({x: dataset.x, y: value.y })
		})
            }
            lineChart.update();
        }
    });
</script>
</body>
</html>
